.ui-text {
  font-weight: 300;
  transition: $transition;

  &_variant {
    &_32 {
      font-size: 32px;

      @media #{media('<',d)} {
        font-size: 20px;
      }
    }

    &_24 {
      font-size: 24px;
      line-height: 150%;
      letter-spacing: -0.48px;

      @media #{media('<', d)} {
        font-size: 18px;
      }
    }

    &_20 {
      font-size: 20px;
      line-height: 150%;

      @media #{media('<', d)} {
        font-size: 14px;
      }
    }

    &_18 {
      font-size: 18px;
      line-height: 150%;

      @media #{media('<', d)} {
        font-size: 14px;
      }
    }

    &_14 {
      font-size: 14px;

      @media #{media('<',d)} {
        font-size: 12px;
        line-height: 140%;
      }
    }

    &_12 {
      font-size: 12px;
    }
  }

  &_color {
    &_white {
      color: #ffffff;
    }

    &_gray {
      color: #858790;
    }

    &_blue {
      color: #000000;
    }
  }

  &_weight {
    &_300 {
      font-weight: 300;
    }
    &_400 {
      font-weight: 400;
    }
    &_500 {
      font-weight: 500;
    }
    &_600 {
      font-weight: 600;
    }
    &_700 {
      font-weight: 700;
    }
  }

  sup {
    font-size: 11px;
    line-height: 100%;
  }
  sub {
    font-size: 11px;
    line-height: 100%;
  }
}
