@mixin color-light {
  background-color: #ffffff !important;
  color: #000000 !important;

  @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #000000 !important;
      color: #ffffff !important;
    }
  }

  &.active,
  &:active {
    background-color: #000000 !important;
    color: #ffffff !important;
  }

  &[disabled] {
    opacity: 0.3 !important;
  }
}

.ui-button {
  user-select: none;

  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;

  transition:
    color,
    background-color $transition;

  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.01em;

  @media #{media('<',d)} {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0em;
  }

  &[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.1;
  }

  &__icon {
    flex-shrink: 0;
    width: 32px;
    height: 32px;

    @media #{media('<',d)} {
      width: 24px;
      height: 24px;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &_variant {
    &_text {
      width: fit-content;

      @media #{media('<',d)} {
        gap: 8px !important;

        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }

    &_contained {
      width: 100%;
      height: 100px;
      padding-inline: 24px;
      transition: $transition;

      @media #{media('<',d)} {
        gap: 24px !important;
        justify-content: space-between;
        height: 60px;
        padding-inline: 16px;
      }
    }

    &_outlined {
      justify-content: flex-start !important;

      width: 100%;
      height: 78px;
      padding-inline: 24px;
      border: 1px solid;

      border-color: #000000;

      @include color-light;

      @media #{media('<',d)} {
        height: 56px;
        padding-inline: 16px;

        font-size: 16px;
        font-weight: 600;
        line-height: 150%;
        letter-spacing: -0.01em;
      }
    }
  }

  &_color {
    &_primary {
      background-color: #000000;
      color: #ffffff;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #262626;
        }
      }

      &.active,
      &:active {
        background-color: #262626;
      }

      &.button_variant_text {
        color: #000000;
        background-color: transparent;

        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            background-color: transparent;
            color: #262626;
          }
        }

        &.active,
        &:active {
          background-color: transparent;
          color: #262626;
        }

        &[disabled] {
          pointer-events: none;
          cursor: not-allowed;
          opacity: 0.3;
        }
      }
    }

    &_light {
      @include color-light;

      @media #{media('<',d)} {
        gap: 4px !important;
        justify-content: center !important;
      }
    }
  }
}
