.ui-radio {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  gap: 12px;
  align-items: center;

  @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
    &:hover {
      .ui-radio__circle {
        background-color: #9ca3af;
      }
    }
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &__input {
    position: absolute;
    opacity: 0;

    &:checked + .ui-radio__circle {
      border-color: #60a5fa;
      background-color: #60a5fa;
    }
  }

  &__circle {
    position: relative;

    display: inline-block;
    flex-shrink: 0;

    border: 2px solid;
    border-radius: 50%;
    border-radius: 36px;

    width: 24px;
    height: 24px;
    background-color: #fff;
    border-color: #d1d5db;

    @media #{media('<',d)} {
      width: 20px;
      height: 20px;
    }
  }

  &__text {
    font-family: $font;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 150%;

    color: #111827;

    @media #{media('<',d)} {
      font-size: 14px;
    }
  }
}
