.button-square {
  border-radius: 4px;
  border: 1px solid transparent;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    color $transition,
    background-color $transition;

  &[disabled] {
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
  }

  &_size {
    &_48 {
      width: 48px;
      height: 48px;

      @media #{media('<',d)} {
        width: 40px;
        height: 40px;
      }

      .button-square__icon {
        width: 28px;
        height: 28px;

        @media #{media('<',d)} {
          width: 20px;
          height: 20px;
        }
      }
    }

    &_60 {
      width: 60px;
      height: 60px;

      @media #{media('<',d)} {
        width: 56px;
        height: 56px;
      }

      .button-square__icon {
        width: 28px;
        height: 28px;

        @media #{media('<',d)} {
          width: 20px;
          height: 20px;
        }
      }
    }

    &_64 {
      width: 64px;
      height: 64px;

      @media #{media('<',d)} {
        width: 56px;
        height: 56px;
      }

      .button-square__icon {
        width: 40px;
        height: 40px;

        @media #{media('<',d)} {
          width: 28px;
          height: 28px;
        }
      }
    }

    &_124 {
      width: 124px;
      height: 124px;

      @media #{media('<',d)} {
        width: 56px;
        height: 56px;
      }

      .button-square__icon {
        width: 48px;
        height: 48px;

        @media #{media('<',d)} {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  &_color {
    &_default {
      background-color: #fff;
      color: #262d3b;

      @media #{media('>',t)} and (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #ececec;
        }
      }
    }

    &_accent {
      background-color: #9cc6f1;
      color: #fff;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: #262d3b;
        }
      }
    }
  }

  .button-square__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
