.ui-link {
  user-select: none;
  transition: color $transition;
  height: fit-content;
  width: fit-content;

  &_weight {
    &_300 {
      font-weight: 300 !important;
    }

    &_700 {
      font-weight: 700 !important;
    }
  }

  &_size {
    &_18 {
      font-size: 18px;
      line-height: 140%;

      @media #{media('<',d)} {
        font-size: 14px;
      }
    }

    &_32 {
      font-size: 32px;
      line-height: 160%;

      @media #{media('<',d)} {
        font-size: 16px;
      }
    }
  }

  &_color {
    &_white {
      color: #fff;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          color: #ea5b0b;
        }
      }

      &:active {
        color: #ea5b0b;
      }
    }

    &_blue {
      color: #254a9a;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          color: #ea5b0b;
        }
      }

      &:active {
        color: #ea5b0b;
      }
    }

    &_transparent {
      color: #fff;
      opacity: 0.5;

      @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
        &:hover {
          opacity: 1;
        }
      }

      &:active {
        opacity: 1;
      }
    }
  }

  &_uppercase {
    text-transform: uppercase;
  }
}
