.ui-pagination {
  display: flex;
  gap: 60px;
  margin-top: 60px;

  @media #{media('<',d)} {
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
