.ui-breadcrumbs {
  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
    padding: 24px;
    font-size: 18px;

    @include scrollbar-hidden();

    @media #{media('<',d)} {
      gap: 16px;
      padding: 16px;
    }
  }

  &__item {
    &-text {
      user-select: none;
      white-space: nowrap;
      transition: color $transition;

      &:not(.active) {
        @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
          &:hover {
            color: #9a9a9a;
          }
        }
      }

      &.active {
        color: #9a9a9a;
      }
    }
  }
}
