@font-face {
  font-family: Garet;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Garet_Regular.woff2") format("woff2"),
    url("/fonts/Garet_Regular.woff") format("woff");
}

@font-face {
  font-family: Garet;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Garet_Medium.woff2") format("woff2"),
    url("/fonts/Garet_Medium.woff") format("woff");
}

@font-face {
  font-family: Garet;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url("/fonts/Garet_Medium.woff2") format("woff2"),
    url("/fonts/Garet_Medium.woff") format("woff");
}

html {
  font-family: Garet, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: #3c3c3c;

  * {
    font-family: Garet, sans-serif;
  }
}
