.ui-textarea {
  cursor: text;
  position: relative;
  height: 110px;

  @media #{media('<',d)} {
    height: 100px;
  }

  textarea {
    resize: none;
  }

  &:has(.ui-textarea__error.visible) .ui-textarea__field {
    border-color: #000000;
  }

  &__field {
    resize: none;

    display: block;

    width: 100%;
    height: 100%;
    padding-bottom: 13px;
    border-bottom: 3px solid;

    background: none;

    transition: border-color $transition;

    border-color: #e4e4e4;

    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: -0.01em;

    @media #{media('>',d)} and (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: #000000;
      }
    }

    @media #{media('<',d)} {
      padding-bottom: 14px;
      border-bottom-width: 2px;

      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
      letter-spacing: -0.01em;
    }

    &::placeholder {
      user-select: none;
      color: inherit;
      transition: opacity $transition-timing-function 0.2s;
    }

    &:focus {
      border-color: #000000;

      &::placeholder {
        opacity: 0;
      }
    }

    &[disabled] {
      pointer-events: none;
      cursor: auto;

      border-color: #e4e4e4;
      color: #9a9a9a;
    }
  }

  &__error {
    pointer-events: none;
    will-change: opacity, transform;

    position: absolute;
    top: calc(100% + 4px);
    transform: translateY(-4px);

    height: fit-content;

    transition:
      opacity,
      transform $transition;

    color: #da2434;

    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 0;

    @media #{media('<',d)} {
      top: calc(100% + 2px);
      transform: translateY(-2px);
    }

    &:not(:empty),
    &.visible {
      pointer-events: auto;
      transform: translateY(0);
      opacity: 1;
    }
  }
}
