.custom-placeholder {
  $self: &;

  position: absolute;
  inset: 0;

  pointer-events: none;

  padding-right: 20px;

  span {
    transform-origin: top left;

    display: inline-block;

    transition: $transition;

    width: 100%;

    line-height: 1;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    position: absolute;

    will-change: transform, scale;
  }
}

* {
  // Для всех браузеров, кроме Firefox

  @supports not (-moz-appearance: none) {
    * {
      &:focus-within > .custom-placeholder,
      & input:not(:placeholder-shown) ~ .custom-placeholder,
      & textarea:not(:placeholder-shown) ~ .custom-placeholder {
        span {
          transform: scale(0.75) translateY(-14px);

          @media #{media('<',d)} {
            transform: scale(0.75) translateY(-14px);
          }
        }
      }
    }
  }

  // Только для Firefox
  @supports (-moz-appearance: none) {
    & input ~ .custom-placeholder,
    & textarea ~ .custom-placeholder {
      span {
        transform: scale(0.75) translateY(-14px);
      }
    }

    & input:placeholder-shown ~ .custom-placeholder,
    & textarea:placeholder-shown ~ .custom-placeholder {
      span {
        transform: scale(1) translateY(0);
      }
    }

    & input:focus ~ .custom-placeholder,
    & textarea:focus ~ .custom-placeholder {
      span {
        transform: scale(0.75) translateY(-14px);

        @media #{media('<',d)} {
          transform: scale(0.75) translateY(-14px);
        }
      }
    }
  }
}
